$main-color: #ffffff;
$secondary-color: #263238;

* {
  font-family: "Roboto", sans-serif;
}
.title {
  color: $main-color;
  font-size: 46px;
  line-height: 57px;
}
.subtitle {
  color: $main-color;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 50px;
}
.filter__item.actived {
  background-color: #e74c3c;
  color: $main-color;
}
.fa-shopping-cart {
  color: #bdbdbd;
  background-color: #f4f4f4;
  border-radius: 50%;
  padding: 12px 10px;
  margin-right: 26px;
  @media only screen and (max-width: 767px) {
    margin-right: 10px;
    margin-left: 10px;
  }
}
.fa-star {
  color: #ffa726;
  margin-top: 10px;
}
.fa-map-marker-alt,
.fa-phone-alt {
  color: #597b41;
  margin-right: 20px;
}
.fa-chevron-right {
  color: #597b41;
  font-size: 10px;
  margin-right: 16px;
}
.fa-telegram-plane {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: $main-color;
}
.button {
  display: inline-block;
  color: $secondary-color;
  background-color: $main-color;
  padding: 21px 33px;
  text-transform: capitalize;
  font-size: 16px;
  margin-right: 10px;
  font-weight: 500;
  @media only screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}
